@use '../../theme/variables' as v;

.page {
  padding: 1.5rem;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 0.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  label {
    font-size: 0.8125rem;
    font-weight: 500;
    color: v.$gray-700;
  }
  input,
  .full-w {
    width: 100%;
  }
}

.field-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
